player-connection-mode=Listen
player-connection-guid=2062577766
player-connection-debug=0
player-connection-project-name=Test
player-connection-ip=192.168.1.79
player-connection-ip=192.168.61.1
player-connection-ip=192.168.187.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.139.2
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
